<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}
Quem sou eu?

{% endblock %}

{% block content %}
<h1>
    Quem sou eu?
</h1>

<p>
    Meu nome é Lucas Santiago e sou estudante do Colégio Cotemig,
    onde curso o terceiro ano do ensino médio técnico.
    Gosto bastante de jogos, filmes e de sair com meus amigos nos momentos livres.
    Sou uma pessoa curiosa, que gosta de aprender coisas novas e aproveitar cada momento da vida.
    Tenho interesse em tecnologia e estou construindo meu futuro enquanto adquiro experiências,
    faço amizades e crio boas memórias ao lado das pessoas que fazem parte da minha vida.
  </p>


{% endblock %}