

{% extends 'layout.html' %}

{% block title %}


{% endblock %}

{% block content %}
<h1>Projetos para o futuro</h1>

<p> 
    Meus projetos para o futuro são concluir o ensino médio técnico
    e continuar evoluindo na área de tecnologia,
    buscando novas oportunidades para desenvolver minhas habilidades
    e construir uma carreira sólida. Quero conquistar minha independência,
    adquirir experiências importantes e transformar meus interesses em algo
    significativo para minha vida profissional.
</p>

{% endblock %}